.server-info {
    padding: 140px 0;
}

.server-header {
    max-width: 850px;
    margin: auto;
    text-align: center;
}

.server-pretitle {
    color: #7DB6FF;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.server-info h2 {
    color: white;
    font-size: 60px;
    margin-bottom: 25px;
}

.server-description {
    color: #C8CDD8;
    font-size: 20px;
    line-height: 1.8;
}

.server-grid {
    margin-top: 90px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.server-card {
    background: rgba(12,18,30,.72);
    border: 1px solid rgba(125,182,255,.15);
    backdrop-filter: blur(10px);

    border-radius: 18px;
    padding: 35px;

    transition: .3s;
}

.server-card:hover {
    transform: translateY(-8px);
    border-color: rgba(125,182,255,.5);
}

.server-card h3 {
    color: white;
    margin-bottom: 15px;
}

.server-card p {
    color: #C8CDD8;
}