.about {

    min-height: 100vh;

    padding: 180px 40px;

    background: transparent;

}

.about h2{
    font-size:48px;
    margin-bottom:20px;
}

.about p{
    max-width:800px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
    color:#d5d8df;
}