.home-background {
    position: relative;
    min-height: 100vh;

    padding-top: 80px;

    background-image: url("../../assets/backgrounds/world.webp");
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-y;
}

.home-background::before {
    content: "";

    position: absolute;
    inset: 0;

    background:
        radial-gradient(
            circle at center,
            rgba(6,10,16,.15) 0%,
            rgba(6,10,16,.30) 45%,
            rgba(6,10,16,.45) 100%
        );

    pointer-events: none;
}

.home-background > * {
    position: relative;
    z-index: 1;
}

.home-background > section {
    padding: 120px 0;
}