.navbar {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;

    background: rgba(8, 12, 18, 0.45);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border-bottom: 1px solid rgba(255,255,255,.08);
    box-shadow: 0 8px 30px rgba(0,0,0,.25);

    transition: background .3s ease;
}

.navbar-container {
    max-width: 1400px;

    height: 80px;

    margin: auto;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 40px;
}

.navbar-logo img {
    height: 76px;
    transition: var(--transition);
}

.navbar-logo img:hover{

    transform:scale(1.05);

}

nav{

    display:flex;

    gap: 55px;

}

nav a{

    color:var(--text-secondary);

    text-decoration:none;

    font-weight:500;

    transition:.3s;

    position:relative;

}

nav a:hover{
    color: var(--primary-light);
}
nav a{
    letter-spacing:.4px;
}

nav a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:.3s;

}

nav a:hover::after{

    width:100%;

}

.discord-button{

    background:var(--primary);

    color:white;

    padding:14px 26px;

    border-radius:999px;

    transition:.3s;

}

.discord-button:hover{

    transform:translateY(-2px);

    box-shadow:var(--shadow-glow);

}